@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
body {
  font-family: "Merriweather", serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Banner Design */
.banner {
  height: 600px;
  width: 1320px;
  margin: 50px auto;
  border-radius: 16px;
  /* Type 1 of adding background and adding color on it */
  /* background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/Banner-Image.png");
  background-blend-mode: overlay; */

  /* Type 2 linear gradient of adding background and color on it */
  background: linear-gradient(
      180deg,
      rgba(7, 2, 17, 0.96),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner-Image.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  text-align: center;
}

.banner p {
  font-size: 32px;
  font-weight: 400;
}

.banner h1 {
  font-size: 72px;
  font-weight: 700;
}

/* Offer Card */
.offer-card {
  height: 806px;
  width: 803px;
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-card h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  margin-bottom: 48px;
}
.offer-card p {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.offer-card h3 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer-card img {
  margin-top: 48px;
  width: 803px;
  height: 500px;
}

/* Welcome to Midnight Party Style */
.mid-night-party {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 16px;
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
}
.mid-night-party-container {
  width: 1085px;
  height: 465px;
  margin: 0 auto;
  margin-top: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.left-side h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 24px;
}

.left-side p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 48px;
}
.left-side button {
  color: rgb(255, 255, 255);
  font-family: inter;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

.right-side {
}
