@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Banner Design */
main {
  width: 1320px;
  margin: 50px auto;
}
.banner {
  height: 600px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(7, 2, 17, 0.96),
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner-Image.png");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-greetings {
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}

.banner-offer {
  font-size: 72px;
  font-weight: 700;
  color: #ffffff;
}
